#main-background {
    background: linear-gradient(rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.5)),
    url("../images/background.png") bottom center no-repeat;
    min-height: 100vh;
    background-size: 100% auto;
}

.header-container {
    position: relative;
}

.github-link {
    position: absolute;
    top: 50px;
    right: 50px;
}
.github-link img {
    transition: opacity 0.3s ease;
}
.github-link img.dark {
    display: none;
}
.github-link:hover {
    background-color: white;
    border: 3px solid white;
    border-radius: 17px;
    top: 49px;
    right: 49px;
}
.github-link:hover img.light {
    display: none;
}
.github-link:hover img.dark {
    display: inline;
}

@media (max-width: 1600px) {
    body {
        background-size: 120%!important;
    }
}

@media (max-width: 1400px) {
    body {
        background-size: 140%!important;
    }
}

@media (max-width: 1200px) {
    body {
        background-size: 160%!important;
    }
}

@media (max-width: 992px) {
    body {
        background-size: 200%!important;
    }
}

@media (max-width: 768px) {
    body {
        background-size: 260%!important;
    }
    .github-link {
        position: fixed;
        bottom: 20px;
        top: initial;
        right: initial;
    }
    .github-link:hover {
        position: fixed;
        bottom: 18px;
        top: initial;
        right: initial;
    }
}

@media (max-width: 576px) {
    body {
        background-size: 320%!important;
    }
}